:root {
  --primary: #4f46e5;
  --success: #22c55e;
  --danger: #ef4444;
  --bg: #0a1825;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: #6d8cbe;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: rgb(255, 255, 255);
  border-right: 1px solid #e2e8f0;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #f1f5f9;
}

.btn-sair {
  margin-top: auto;
  background: #ef4444;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav button {
  background: none;
  border: none;
  color: #4f46e5;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 0;
}

/* O container do switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* O fundo do trilho */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

/* A bolinha branca */
.slider:before {
  position: absolute;
  content: "";
  height: 18px; width: 18px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #22c55e; /* Verde quando ligado */
}

input:checked + .slider:before {
  transform: translateX(26px); /* Move a bolinha para a direita */
}

.stat-card {
  background: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-weight: bold;
  flex: 1;
  text-align: center;
  border-top: 4px solid #4f46e5; /* Uma bordinha colorida em cima */
}